visualization/.ipynb_checkpoints/MB-checkpoint.ipynb
visualization/.ipynb_checkpoints/parallel_mandelbrot_numpy-checkpoint.ipynb
visualization/.ipynb_checkpoints/Mandelbrot-checkpoint.ipynb
.ipynb_checkpoints/Python_Introduction-checkpoint.ipynb
core/.ipynb_checkpoints/Jupyter Tips-checkpoint.ipynb
core/.ipynb_checkpoints/Python Variables and Data Types-checkpoint.ipynb
core/.ipynb_checkpoints/Practice_1-checkpoint.ipynb
core/.ipynb_checkpoints/Python Flow Control-checkpoint.ipynb
core/.ipynb_checkpoints/Python_Loops-checkpoint.ipynb
exercises/.ipynb_checkpoints/Practical Exercises-checkpoint.ipynb
core/.ipynb_checkpoints/Python Dictionaries-checkpoint.ipynb
core/.ipynb_checkpoints/Python Functions-checkpoint.ipynb
core/.ipynb_checkpoints/Python Lists-checkpoint.ipynb
core/.ipynb_checkpoints/Python Strings-checkpoint.ipynb
core/.ipynb_checkpoints/Tuples-checkpoint.ipynb
core/.ipynb_checkpoints/Python Sets-checkpoint.ipynb
core/.ipynb_checkpoints/Python Classes-checkpoint.ipynb
core/.ipynb_checkpoints/Python Standard Library-checkpoint.ipynb
libraries/.ipynb_checkpoints/Installing Libraries from Jupyter directly-checkpoint.ipynb
core/.ipynb_checkpoints/RunOtherNotebooks-checkpoint.ipynb
.ipynb_checkpoints/Using Libraries and Notebooks-checkpoint.ipynb
core/__pycache__/tuples.cpython-38.pyc
core/.ipynb_checkpoints/MyMod-checkpoint.ipynb
libraries/.ipynb_checkpoints/SentenceSplitter-checkpoint.ipynb
libraries/.ipynb_checkpoints/SpacyQuick-checkpoint.ipynb
homework/.ipynb_checkpoints/FileFilter-checkpoint.ipynb
core/.ipynb_checkpoints/Python File IO-checkpoint.ipynb
Pandas/.ipynb_checkpoints/Python Pandas Tutorial-checkpoint.ipynb
