visualization/.ipynb_checkpoints/MB-checkpoint.ipynb
visualization/.ipynb_checkpoints/parallel_mandelbrot_numpy-checkpoint.ipynb
visualization/.ipynb_checkpoints/Mandelbrot-checkpoint.ipynb
.ipynb_checkpoints/Python_Introduction-checkpoint.ipynb
