visualization/.ipynb_checkpoints/MB-checkpoint.ipynb
visualization/.ipynb_checkpoints/parallel_mandelbrot_numpy-checkpoint.ipynb
visualization/.ipynb_checkpoints/Mandelbrot-checkpoint.ipynb
.ipynb_checkpoints/Python_Introduction-checkpoint.ipynb
core/.ipynb_checkpoints/Jupyter Tips-checkpoint.ipynb
core/.ipynb_checkpoints/Python Variables and Data Types-checkpoint.ipynb
core/.ipynb_checkpoints/Practice_1-checkpoint.ipynb
core/.ipynb_checkpoints/Python Flow Control-checkpoint.ipynb
core/.ipynb_checkpoints/Python_Loops-checkpoint.ipynb
exercises/.ipynb_checkpoints/Practical Exercises-checkpoint.ipynb
core/.ipynb_checkpoints/Python Dictionaries-checkpoint.ipynb
core/.ipynb_checkpoints/Python Functions-checkpoint.ipynb
core/.ipynb_checkpoints/Python Lists-checkpoint.ipynb
core/.ipynb_checkpoints/Python Strings-checkpoint.ipynb
core/.ipynb_checkpoints/Tuples-checkpoint.ipynb
core/.ipynb_checkpoints/Python Sets-checkpoint.ipynb
